server {
    listen       {{ Nginx_port }};
    server_name  localhost;
 
    # 預設編碼，但通常不建議開啟，讓網頁中的 meta 或 header 自行定義
    #charset koi8-r;
 
    # 可以額外針對這個站台修改 log 的存放位置
    #access_log  /var/log/nginx/log/host.access.log  main;
 
    # 根目錄的設定
    location / {
     # 實際的檔案位置
        root   {{ Nginx_rootpath }};
     # 預設首頁檔名
        index  index.html index.htm;
    }
 
    # 如果發生 404 可以指定到特定的頁面來顯示
    #error_page  404              /404.html;
 
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
 
    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}
 
    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    location ~ \.php$ {
        root           html;
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        include        fastcgi_params;
    }
 
    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}
